:root {
    --color-primary: #007bff; /* Primary color */
    --color-light: #f8f9fa;   /* Light color */
    --color-dark: #343a40;    /* Dark color */
    --color-dark-hover: #202224;    /* Dark color - hover */
  }
  

.psts-signup-another {
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
}
.psts-signup-another:hover {
    background-color: var(--color-dark-hover);
}